{% extends 'index.html' %}
{% load static %}
{% block extra_css %}
{% endblock extra_css %}
{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Solicitudes Ingresadas</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">

            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="text-right">
        <a class="btn btn-info btn-sm" href="{% url 'productos:registrar_solicitudes' %}">
          <i class="fas fa-pencil-alt">
          </i>
          Ingresar Solicitud
      </a>
      </div>
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
            {% for s in solicitud %}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  Ingresada por {{user.nombres}} {{user.apellidos}}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead" style="text-transform: capitalize"><b>Nro°: {{s.codigo}}</b></h2>
                      <br>
                      <p class="text-muted text-sm"><b>Fecha: {{s.fecha_solicitud}}</b></p>
                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a class="btn btn-info btn-sm" href="{% url 'productos:actualizar_solicitudes' s.id %}">
                      Editar
                  </a>
                  <a class="btn btn-danger btn-sm" href="{% url 'productos:eliminar_solicitudes' s.id %}">
                      Eliminar
                  </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
{% endblock body %}
{% block extrajs %}
{% endblock extrajs %}